
<div class="dm-herounit">
  <div class="dm-img"></div>
  <div class="dm-overimage">
    <div class="dm-caption clearfix">
      <h2>My Posts</h2>
    </div>
  </div>
</div>
<div class="container">
  <h1 class="dm-header">Available Pages</h1>
  <div ng-repeat="post in posts" class="well dm-link clearfix">
    <div class="col-sm-3 col-xs-5"><img src="/s/assets/{{post.thumbnail}}" class="dm-thumbnail img-responsive"/></div>
    <div style="padding-left: 0; padding-right: 0;" class="col-sm-9 col-xs-7"><a ui-sref="{{post.state}}({{post.params}})" class="dm-link-target">{{post.name}}</a>
      <div class="dm-description">
        <p>{{post.description}}</p>
      </div>
    </div>
  </div>
</div>