
.dm-herounit
  .dm-img
    canvas#hero
  .dm-overimage
    .dm-caption.clearfix
      h2 Welcome To The Scene

.container
  h1.dm-header Welcome to Pixels Of Awesome

  .dm-body
    .text(include-md="home")

script(type="text/javascript", src="/s/scripts/hero3d.js")
