html,
body {
  height: 100%;
}
* {
  box-sizing: border-box;
}
.dm-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
}
@media (min-width: 768px) and (max-width: 992px) {
  .dm-container {
    display: block;
  }
}
@media print {
  .dm-container {
    height: auto;
    display: block;
    padding: 30px;
  }
}
.dm-container .dm-navbar-toggle {
  display: none;
  line-height: 24px;
  padding: 10px;
  background-color: rgba(46, 53, 61, 0.8);
  color: white;
  text-decoration: none;
  cursor: pointer;
}
@media (min-width: 768px) and (max-width: 992px) {
  .dm-container .dm-navbar-toggle {
    right: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    position: absolute;
    display: block;
  }
}
.dm-container .dm-slideout {
  transition: all 0.5s ease;
}
@media (min-width: 768px) and (max-width: 992px) {
  .dm-container .dm-slideout {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .dm-container .dm-out {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
.dm-container .dm-overlay {
  display: none;
}
@media (max-width: 992px) {
  .dm-container .dm-overlay-on {
    padding: 0;
    margin: 0;
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 53, 61, 0.8);
    z-index: 999;
    transition: all 0.5s ease;
  }
}
@media (min-width: 768px) {
  .dm-container {
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media (max-width: 768px) {
  .dm-container {
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.dm-container .dm-navbar {
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  background-color: #2e353d;
}
@media print {
  .dm-container .dm-navbar {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .dm-container .dm-navbar {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 1000;
  }
}
@media (min-width: 768px) {
  .dm-container .dm-navbar {
    width: 300px;
  }
}
@media (max-width: 768px+1) {
  .dm-container .dm-navbar {
    width: 100%;
  }
}
.dm-container .dm-navbar ul,
.dm-container .dm-navbar li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.dm-container .dm-navbar a {
  color: #c8d7cf;
}
.dm-container .dm-navbar .dm-topbar {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
}
@media (max-width: 768px) {
  .dm-container .dm-navbar .dm-topbar {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.dm-container .dm-navbar .dm-topbar .dm-brand-name {
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
  color: #c8d7cf;
  text-shadow: -1px 1px 0px #000000, -2px 2px 0px #435d4f;
}
.dm-container .dm-navbar .dm-topbar .dm-menu-rollout-toggle {
  color: #c8d7cf;
}
@media (min-width: 768px) {
  .dm-container .dm-navbar .dm-topbar .dm-menu-rollout-toggle {
    display: none;
  }
}
.dm-container .dm-navbar .dm-topbar .dm-menu-rollout-toggle .toggle-btn {
  width: 40px;
  padding: 3px;
  padding-bottom: 1px;
  border-radius: 3px;
  text-align: center;
  color: #000;
  background-color: #ffffff;
}
.dm-container .dm-navbar .dm-topbar .dm-menu-rollout-toggle .toggle-btn:active {
  background-color: rgba(255, 255, 255, 0.5);
}
.dm-container .dm-navbar .dm-menu-rollout li {
  padding: 10px;
  padding-left: 30px;
  background-color: #323a43;
  border-bottom: 1px solid #23282e;
  border-left: 5px solid #323a43;
  color: #c8d7cf;
  cursor: pointer;
}
.dm-container .dm-navbar .dm-menu-rollout li.active {
  border-left: 5px solid #008000;
}
.dm-container .dm-navbar .dm-menu-rollout li:hover {
  background-color: #39424c;
  transition: all 0.5s ease;
}
.dm-container .dm-navbar .dm-menu-rollout ul li {
  padding-left: 40px;
  background-color: #2a3037;
  border-left: 5px solid #2a3037;
}
.dm-container .dm-navbar .dm-menu-rollout ul li:before {
  content: "\f105";
  font-family: FontAwesome;
  padding-right: 10px;
}
.dm-container .dm-navbar .dm-menu-rollout ul li:hover {
  background-color: #323a43;
}
.dm-container .dm-content {
  position: relative;
  z-index: 0;
  margin: 0;
  padding: 0;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.dm-container .dm-content .dm-mag-brand {
  padding: 0;
  display: none;
}
@media (min-width: 768px) and (max-width: 992px) {
  .dm-container .dm-content .dm-mag-brand {
    padding: 0;
    margin: 0;
    background-color: #171a1e;
    display: block;
  }
  .dm-container .dm-content .dm-mag-brand h1 {
    padding: 0.4em;
    margin: 0;
    color: white;
    text-shadow: -1px 1px 0px #000000, -2px 2px 0px #ffffff;
    text-align: center;
    font-size: 4em;
  }
}
@media print {
  .dm-container .dm-content .dm-mag-brand {
    padding: 0;
    margin: 0;
    background-color: #171a1e;
    display: block;
  }
  .dm-container .dm-content .dm-mag-brand h1 {
    padding: 0.4em;
    margin: 0;
    color: white;
    text-shadow: -1px 1px 0px #000000, -2px 2px 0px #ffffff;
    text-align: center;
    font-size: 2.5em;
  }
}
@media (min-width: 768px) {
  .dm-container .dm-content {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .dm-container .dm-content {
    overflow: visible;
    height: 100%;
    width: 100%;
  }
}
@media print {
  .dm-container .dm-content {
    top: 0;
    overflow: visible;
    display: block;
    height: 100%;
    width: 100%;
  }
}
.dm-container .dm-content .container {
  padding-bottom: 50px;
}
@media (min-width: 768px) {
  .dm-container .dm-content .container {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .dm-container .dm-content .container p {
    font-size: 1.2em;
  }
}
@media (min-width: 1200px) {
  .dm-container .dm-content .container {
    width: 900px;
  }
}
@media (min-width: 1408px) {
  .dm-container .dm-content .container {
    width: 900px;
  }
  .dm-container .dm-content .container .dm-lgg {
    width: 66.66666667%;
  }
}
@media print {
  .dm-container .dm-content .container {
    width: 100%;
  }
  .dm-container .dm-content .container p {
    font-size: 1.0em;
  }
}
.dm-herounit {
  width: 100%;
  position: relative;
  padding: 0;
}
@media print {
  .dm-herounit {
    display: none;
  }
}
.dm-herounit .dm-img {
  height: 250px;
  width: 100%;
  background: url('/s/assets/heroUnit.jpg') 500px center;
}
@media (min-width: 768px) {
  .dm-herounit .dm-img {
    height: 350px;
  }
}
@media (min-width: 992px) {
  .dm-herounit .dm-img {
    height: 400px;
  }
}
.dm-herounit .notfound {
  height: 100% !important;
}
.dm-herounit .dm-overimage {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 20px;
  height: 100%;
}
.dm-herounit .dm-overimage .dm-caption {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: white;
  text-align: center;
}
.dm-herounit .dm-overimage .dm-caption h2 {
  display: table;
  border: 2px solid white;
  margin: 0 auto;
  padding: 10px 20px;
  font-size: 2.0em;
  text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 100px 100px rgba(0, 0, 0, 0.2);
}
@media (max-width: 768px) {
  .dm-herounit .dm-overimage .dm-caption h2 {
    font-size: 1.5em;
  }
}
.dm-header {
  border-bottom: 2px dashed black;
  padding-top: 20px;
  padding-bottom: 10px;
  margin-bottom: 30px;
  font-size: 1.6em;
}
@media (min-width: 992px) {
  .dm-header {
    font-size: 3em;
  }
}
.view-container {
  width: 100%;
}
.view {
  position: absolute;
  width: 100%;
  transition: all 1s;
}
.ng-enter {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  transition: all 1s ease-in-out;
  opacity: 0;
}
.ng-enter-active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  transition: all 1s ease-in-out;
  opacity: 100;
}
.ng-leave {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  transition: all 1s ease-in-out;
  opacity: 100;
}
.ng-leave-active {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  transition: all 1s ease-in-out;
  opacity: 0;
}
.dm-link {
  padding: 20px;
  padding-left: 5px;
}
.dm-link .dm-thumbnail {
  border-radius: 10px;
}
.dm-link .dm-link-target {
  position: relative;
  top: 4px;
  width: 100%;
  font-size: 1.2em;
  background-color: #a00016;
  color: white;
  padding: 5px;
  border-radius: 4px;
}
.dm-link .dm-description {
  padding-top: 14px;
}
.dm-body img {
  width: 100%;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}
.dm-body .small {
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, 0.02);
  margin: 25px auto;
}
@media (min-width: 768px) {
  .dm-body .small {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .dm-body .small {
    max-height: 500px;
  }
}
@media (min-width: 1200px) {
  .dm-body .small {
    max-height: 600px;
  }
}
@media (min-width: 1408px) {
  .dm-body .small {
    max-height: 700px;
  }
}
.dm-body .descr {
  font-size: 1.1em;
  line-height: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border-left: 5px solid rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  background-color: white;
  margin: 5px 0;
}
.dm-body .descr:nth-child(1) {
  border-radius: 10px 10px 5px 5px;
}
.dm-body .descr:nth-child(2) {
  border-radius: 5px 5px 10px 10px;
}
.dm-body .descr.alone {
  border-radius: 5px 5px 5px 5px;
}
.dm-body .aside {
  background-color: rgba(0, 0, 0, 0.02);
  margin: 15px auto;
  padding: 10px;
  text-align: center;
}
.dm-body .aside img {
  width: 100%;
  height: auto;
}
@media (min-width: 768px) {
  .dm-body .aside {
    max-width: 400px;
  }
  .dm-body .aside:nth-of-type(2n) {
    float: right;
  }
  .dm-body .aside:nth-of-type(2n+1) {
    float: left;
  }
}
@media screen {
  .dm-body a {
    transition: all 0.2s linear;
  }
  .dm-body a:hover {
    text-decoration: none;
  }
  .dm-body a:hover:before {
    opacity: 1;
    -webkit-transform: translateX(-15%);
            transform: translateX(-15%);
    transition: all 0.2s easin-in;
  }
  .dm-body a:hover:after {
    opacity: 1;
    -webkit-transform: translateX(15%);
            transform: translateX(15%);
    transition: all 0.2s easin-in;
  }
  .dm-body a:before {
    display: inline-block;
    opacity: 0;
    -webkit-transform: translateX(-300%);
            transform: translateX(-300%);
    content: "[";
    transition: all 0.2s linear;
  }
  .dm-body a:after {
    display: inline-block;
    opacity: 0;
    -webkit-transform: translateX(300%);
            transform: translateX(300%);
    content: "]";
    transition: all 0.2s linear;
  }
}
.dm-social .dm-social-btns a.dm-social-btn {
  height: 60px;
  width: 60px;
  text-align: center;
  vertical-align: center;
  margin-left: 10px;
  display: block;
  border: 1px solid black;
  border-radius: 100px;
  text-decoration: none;
  color: black;
  background-color: white;
}
.dm-social .dm-social-btns a.dm-social-btn .dm-social-btn-text {
  display: block;
  line-height: 60px;
}
.dm-social .dm-social-btns a.dm-social-btn:hover {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}
